
body{
    font-family:Arial,helvetica,sans-serif;
    background-color: #d9e7f2;
    margin :20px;
    padding: 3ppx;
    border: 2px solid red;

}
h1{
    color:rgb(60, 183, 142);
}
#nameSpan {
    font-weight:bold;
}